# m     h       dom     mon     dow     user    command
{{ hostvars[inventory_hostname].update_dontstarvetogether_minute }}      *      *       *       *       root    /usr/local/bin/update_dontstarvetogether_cronjob


